.edit_delete {
	/*background-color: red;*/
	width: 100px;
}

.table_head {
	background-color: #343a40;
	color: white;
}

.body_tag {
	background-image: url('./images/joshua-sortino-228788-unsplash.jpg');
	background-size: 1850px 1050px;
  	background-repeat: no-repeat;

}

.t-body {
	color: #C56824;
}